<div id="about">
  <div class="abou-us-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
          <div class="about-content">
            <div class="about-section-title">
              <h4>What do we do?</h4>
            </div>
            <p>There are many use variations of passages of Lorem Ipsum
              available, but the have suffered alteration in some form, by
              injected humour, or randomised words which don't look even
              slightly. If you are going to use a passage of Lorem Ipsum, you
              need to be sure there .</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>